<div class="container">
  <div [hidden]="submitted">
    <h1>Evaluation Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <!--Param 1 Field--> 
      <div class="form-group">
        <label for="param1">Param_1</label>
        <input type="number" class="form-control" id="param1">
        
      </div>
      
      <!--Param 2 Field--> 
      <div class="form-group">
        <label for="param2">Param_2</label>
        <input type="number" class="form-control" id="param2">
        
      </div>

      <!--Param 3 Field--> 
      <div class="form-group">
        <label for="param3">Param_3</label>
        <input type="number" class="form-control" id="param3">
        
      </div>

      <!--Param 4 Field--> 
      <div class="form-group">
        <label for="param4">Param_4</label>
        <input type="number" class="form-control" id="param4">
        
      </div>

      <!--Param 5 Field--> 
      <div class="form-group">
        <label for="param5">Param_5</label>
        <input type="number" class="form-control" id="param5">
        
      </div>

      <!--Param 6 Field--> 
      <div class="form-group">
        <label for="param6">Param_6</label>
        <input type="number" class="form-control" id="param6">
        
      </div>

      <!--Param 7 Field--> 
      <div class="form-group">
        <label for="param7">Param_7</label>
        <input type="number" class="form-control" id="param7">
        
      </div>

      <!--Param 8 Field--> 
      <div class="form-group">
        <label for="param8">Param_8</label>
        <input type="number" class="form-control" id="param8">
        
      </div>

      <!--Param 9 Field--> 
      <div class="form-group">
        <label for="param9">Param_9</label>
        <input type="number" class="form-control" id="param9">
        
      </div>

      <!--Param 10 Field--> 
      <div class="form-group">
        <label for="param10">Param_10</label>
        <input type="number" class="form-control" id="param10">
        
      </div>

      <!--Param 11 Field--> 
      <div class="form-group">
        <label for="param11">Param_11</label>
        <input type="number" class="form-control" id="param11">
        
      </div>
      <!--Param 12 Field--> 
      <div class="form-group">
        <label for="param12">Param_12</label>
        <input type="number" class="form-control" id="param12">
        
      </div>
      <!--Param 13 Field--> 
      <div class="form-group">
        <label for="param13">Param_13</label>
        <input type="number" class="form-control" id="param13">
        
      </div>
      
 
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      <!--<button type="button" class="btn btn-default" (click)="newReset(); heroForm.reset()">Reset</button>-->
    </form>
  </div>
 
  <!--<div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>-->
</div>