  <div class="container">
          <div class="page-title">
                  <h3>User Profile</h3>
          </div>
          <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                          <div class="x_panel">
                                  <div class="x_title">
                                          <h2>User Report </h2>
                                          <div class="clearfix"></div>
                                  </div>
                                  <div class="x-content">
                                          <div id="crop-avatar">
                                                  <img class="img-responsive avatar-view" src="assets/images/picture.jpg" alt="Avatar" title="Change the avatar">
                                          </div>
                                  </div>
                                  <h3>Saloni Sharma</h3>
                                  <ul class="list-unstyled user_data">
                                          <li>
                                                  <i class="fa fa-map-marker user-profile-icon"></i> &nbsp; Nashik Office
                                          </li>

                                          <li>
                                                  <i class="fa fa-briefcase user-profile-icon"></i> Developer
                                          </li>

                                          <li class="m-top-xs">
                                                  <i class="fa fa-external-link user-profile-icon"></i>
                                                  <a href="http://www.finiq.com/" target="_blank">http://www.finiq.com/</a>
                                          </li>
                                  </ul>
                                  <br/>
                                  <h4>Skills</h4>
                                  <ul class="list-unstyled user_data">
                                          <li>
                                                  <p>Web Applications</p>
                                                  <div class="progress progress_sm">
                                                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" (click)="progressBarPercent($event);"  [style.width]="percent"  #webApplication></div>
                                                  </div>
                                          </li>
                                          <li>
                                                  <p>Website Design</p>
                                                  <div class="progress progress_sm">
                                                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                                                  </div>
                                          </li>
                                          <li>
                                                  <p>Automation & Testing</p>
                                                  <div class="progress progress_sm">
                                                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                                                  </div>
                                          </li>
                                          <li>
                                                  <p>UI / UX</p>
                                                  <div class="progress progress_sm">
                                                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                                  </div>
                                          </li>
                                  </ul>

                          </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12 x_panel" >
                          <form #ratingForm = "ngForm" (ngSubmit) = "submit(ratingForm);">
                          <div class="row">
                                  <div class="col-md-6 col-sm-6 col-xs-12" style="padding-right:60px">
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Helpfulness</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates1" style="text-align:right" (click)="ratingHelpfulness($event.target.value)">
                                                          <input type="radio" id="star51" name="rating1" value="5" />
                                                          <label for="star51" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star41" name="rating1" value="4" />
                                                          <label for="star41" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star31" name="rating1" value="3" />
                                                          <label for="star31" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star21" name="rating1" value="2" />
                                                          <label for="star21" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star11" name="rating1" value="1" />
                                                          <label for="star11" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Innovative Thinking/Problem Solving</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates2" style="text-align:right" (click)="ratingProblemSolving($event.target.value)">
                                                          <input type="radio" id="star52" name="rating2" value="5" />
                                                          <label for="star52" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star42" name="rating2" value="4" />
                                                          <label for="star42" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star32" name="rating2" value="3" />
                                                          <label for="star32" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star22" name="rating2" value="2" />
                                                          <label for="star22" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star12" name="rating2" value="1" />
                                                          <label for="star12" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Quality of Work</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates3" style="text-align:right" (click)="ratingWorkQuality($event.target.value)">
                                                          <input type="radio" id="star53" name="rating3" value="5" />
                                                          <label for="star53" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star43" name="rating3" value="4" />
                                                          <label for="star43" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star33" name="rating3" value="3" />
                                                          <label for="star33" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star23" name="rating3" value="2" />
                                                          <label for="star23" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star13" name="rating3" value="1" />
                                                          <label for="star13" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Adherence to company values</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates4" style="text-align:right" (click)="ratingCompanyValues($event.target.value)">
                                                          <input type="radio" id="star54" name="rating4" value="5" />
                                                          <label for="star54" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star44" name="rating4" value="4" />
                                                          <label for="star44" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star34" name="rating4" value="3" />
                                                          <label for="star34" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star24" name="rating4" value="2" />
                                                          <label for="star24" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star14" name="rating4" value="1" />
                                                          <label for="star14" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Absenteeism</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates5" style="text-align:right" (click)="ratingAbsenteeism($event.target.value)">
                                                          <input type="radio" id="star55" name="rating5" value="5" />
                                                          <label for="star55" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star45" name="rating5" value="4" />
                                                          <label for="star45" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star35" name="rating5" value="3" />
                                                          <label for="star35" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star25" name="rating5" value="2" />
                                                          <label for="star25" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star15" name="rating5" value="1" />
                                                          <label for="star15" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Efficiency/Productivity of work</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates6" style="text-align:right" (click)="ratingWorkEfficiency($event.target.value)">
                                                          <input type="radio" id="star56" name="rating6" value="5" />
                                                          <label for="star56" title="Rate5">5 stars</label>
                                                          <input type="radio" id="star46" name="rating6" value="4" />
                                                          <label for="star46" title="Rate4">4 stars</label>
                                                          <input type="radio" id="star36" name="rating6" value="3" />
                                                          <label for="star36" title="Rate3">3 stars</label>
                                                          <input type="radio" id="star26" name="rating6" value="2" />
                                                          <label for="star26" title="Rate2">2 stars</label>
                                                          <input type="radio" id="star16" name="rating6" value="1" />
                                                          <label for="star16" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12" style="padding-right:60px;border-left:2px solid #dddd">
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>JIRA count</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates7" style="text-align:right" (click)="ratingJiraCount($event.target.value)">
                                                          <input type="radio" id="s1tar5" name="rating7" value="5" />
                                                          <label for="s1tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s1tar4" name="rating7" value="4" />
                                                          <label for="s1tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s1tar3" name="rating7" value="3" />
                                                          <label for="s1tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s1tar2" name="rating7" value="2" />
                                                          <label for="s1tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s1tar1" name="rating7" value="1" />
                                                          <label for="s1tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Communication</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates8" style="text-align:right" (click)="ratingCommunication($event.target.value)">
                                                          <input type="radio" id="s2tar5" name="rating8" value="5" />
                                                          <label for="s2tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s2tar4" name="rating8" value="4" />
                                                          <label for="s2tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s2tar3" name="rating8" value="3" />
                                                          <label for="s2tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s2tar2" name="rating8" value="2" />
                                                          <label for="s2tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s2tar1" name="rating8" value="1" />
                                                          <label for="s2tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Self learner</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates9" style="text-align:right" (click)="ratingSelfLearner($event.target.value)">
                                                          <input type="radio" id="s3tar5" name="rating9" value="5" />
                                                          <label for="s3tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s3tar4" name="rating9" value="4" />
                                                          <label for="s3tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s3tar3" name="rating9" value="3" />
                                                          <label for="s3tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s3tar2" name="rating9" value="2" />
                                                          <label for="s3tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s3tar1" name="rating9" value="1" />
                                                          <label for="s3tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Multi-Tasking</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates10" style="text-align:right" (click)="ratingMultiTasking($event.target.value)">
                                                          <input type="radio" id="s4tar5" name="rating10" value="5" />
                                                          <label for="s4tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s4tar4" name="rating10" value="4" />
                                                          <label for="s4tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s4tar3" name="rating10" value="3" />
                                                          <label for="s4tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s4tar2" name="rating10" value="2" />
                                                          <label for="s4tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s4tar1" name="rating10" value="1" />
                                                          <label for="s4tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Knowledge</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div class="rating" id="rates11" style="text-align:right" (click)="ratingKnowledge($event.target.value)">
                                                          <input type="radio" id="s5tar5" name="rating11" value="5" />
                                                          <label for="s5tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s5tar4" name="rating11" value="4" />
                                                          <label for="s5tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s5tar3" name="rating11" value="3" />
                                                          <label for="s5tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s5tar2" name="rating11" value="2" />
                                                          <label for="s5tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s5tar1" name="rating11" value="1" />
                                                          <label for="s5tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                          <div class="row">
                                                  <div style="text-align:right">
                                                          <label>Reliability </label>
                                                  </div>
                                          </div>
                                          <div class="row">

                                                  <div class="rating" id="rates12" style="text-align:right" (click)="ratingRelliabillity($event.target.value)">
                                                          <input type="radio" id="s6tar5" name="rating12" value="5" />
                                                          <label for="s6tar5" title="Rate5">5 stars</label>
                                                          <input type="radio" id="s6tar4" name="rating12" value="4" />
                                                          <label for="s6tar4" title="Rate4">4 stars</label>
                                                          <input type="radio" id="s6tar3" name="rating12" value="3" />
                                                          <label for="s6tar3" title="Rate3">3 stars</label>
                                                          <input type="radio" id="s6tar2" name="rating12" value="2" />
                                                          <label for="s6tar2" title="Rate2">2 stars</label>
                                                          <input type="radio" id="s6tar1" name="rating12" value="1" />
                                                          <label for="s6tar1" title="Rate1">1 star</label>
                                                  </div>
                                          </div>
                                  </div>
                          </div>

                          <button type="submit" class="btn btn-primary" [disabled]="!isValidForm">Submit</button>

                          </form>                 
                  </div>
          </div>
  </div>


